<div class= "container mx-auto w-75 my-5">

  <div class="card my-3">
    <div class="card-header">
      Découvrir, déconstruire et dynamiter les systèmes d'oppression
    </div>

    <div class="card-body">
      <h5 class="card-title">Ensemble, on va :</h5>
      <p class="card-text">
        Who's are these? I swiped it from the old lady's liquor cabinet. Yeah, but I never picked a fight in my entire life. No, it was The Enchantment Under The Sea Dance. Our first date. It was the night of that terrible thunderstorm, remember George? Your father kissed me for the very first time on that dance floor. It was then I realized I was going to spend the rest of my life with him. I'll be at my grandma's. Here, let me give you the number. Bye.
      </p>
      <p class="card-text">
        I know, and all I could say is I'm sorry. I don't worry. this is all wrong. I don't know what it is but when I kiss you, it's like kissing my brother. I guess that doesn't make any sense, does it? 1955? You're my ma- you're my ma. Anyway, Grandpa hit him with the car and brought him into the house. He seemed so helpless, like a little lost puppy, my heart just went out for him. Right. Lou, gimme a milk, chocolate. Lorraine, my density has popped me to you.
      </p>
      <p class="card-text">
        Alright, okay listen, keep your pants on, she's over in the cafe. God, how do you do this? What made you change your mind, George? Wait a minute, wait a minute. 1:15 in the morning? That's a Florence Nightingale effect. It happens in hospitals when nurses fall in love with their patients. Go to it, kid. What? You got a real attitude problem, McFly. You're a slacker. You remind me of you father when he went her, he was a slacker too.
      </p>

      <a href="#" class="btn btn-danger">Je m'inscris pour cramer des trucs !</a>
    </div>
  </div>

  <div class="card my-3">
    <div class="card-header">
      Découvrir, déconstruire et dynamiter les systèmes d'oppression
    </div>

    <div class="card-body">
      <h5 class="card-title">Ensemble, on va :</h5>
      <p class="card-text">
        Who's are these? I swiped it from the old lady's liquor cabinet. Yeah, but I never picked a fight in my entire life. No, it was The Enchantment Under The Sea Dance. Our first date. It was the night of that terrible thunderstorm, remember George? Your father kissed me for the very first time on that dance floor. It was then I realized I was going to spend the rest of my life with him. I'll be at my grandma's. Here, let me give you the number. Bye.
      </p>
      <p class="card-text">
        I know, and all I could say is I'm sorry. I don't worry. this is all wrong. I don't know what it is but when I kiss you, it's like kissing my brother. I guess that doesn't make any sense, does it? 1955? You're my ma- you're my ma. Anyway, Grandpa hit him with the car and brought him into the house. He seemed so helpless, like a little lost puppy, my heart just went out for him. Right. Lou, gimme a milk, chocolate. Lorraine, my density has popped me to you.
      </p>
      <p class="card-text">
        Alright, okay listen, keep your pants on, she's over in the cafe. God, how do you do this? What made you change your mind, George? Wait a minute, wait a minute. 1:15 in the morning? That's a Florence Nightingale effect. It happens in hospitals when nurses fall in love with their patients. Go to it, kid. What? You got a real attitude problem, McFly. You're a slacker. You remind me of you father when he went her, he was a slacker too.
      </p>

      <a href="#" class="btn btn-danger">Je m'inscris pour cramer des trucs !</a>
    </div>
  </div>

  <div class="card my-3">
    <div class="card-header">
      Découvrir, déconstruire et dynamiter les systèmes d'oppression
    </div>

    <div class="card-body">
      <h5 class="card-title">Ensemble, on va :</h5>
      <p class="card-text">
        Who's are these? I swiped it from the old lady's liquor cabinet. Yeah, but I never picked a fight in my entire life. No, it was The Enchantment Under The Sea Dance. Our first date. It was the night of that terrible thunderstorm, remember George? Your father kissed me for the very first time on that dance floor. It was then I realized I was going to spend the rest of my life with him. I'll be at my grandma's. Here, let me give you the number. Bye.
      </p>
      <p class="card-text">
        I know, and all I could say is I'm sorry. I don't worry. this is all wrong. I don't know what it is but when I kiss you, it's like kissing my brother. I guess that doesn't make any sense, does it? 1955? You're my ma- you're my ma. Anyway, Grandpa hit him with the car and brought him into the house. He seemed so helpless, like a little lost puppy, my heart just went out for him. Right. Lou, gimme a milk, chocolate. Lorraine, my density has popped me to you.
      </p>
      <p class="card-text">
        Alright, okay listen, keep your pants on, she's over in the cafe. God, how do you do this? What made you change your mind, George? Wait a minute, wait a minute. 1:15 in the morning? That's a Florence Nightingale effect. It happens in hospitals when nurses fall in love with their patients. Go to it, kid. What? You got a real attitude problem, McFly. You're a slacker. You remind me of you father when he went her, he was a slacker too.
      </p>

      <a href="#" class="btn btn-danger">Je m'inscris pour cramer des trucs !</a>
    </div>
  </div>
</div>